{
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "node_modules"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-useless-constructor": ["error"],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "camelcase": 0,
    "comma-style": [
      2,
      "last"
    ],
    "curly": 0,
    "default-case": 0,
    "func-names": "off",
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "indent": [
      "error",
      2
    ],
    "linebreak-style": 2,
    "max-len": ["error", 140],
    "new-cap": 2,
    "no-console": 0,
    "no-minusminus": 0,
    "no-nested-ternary": 0,
    "no-plusplus": 0,
    "no-undef": 0,
    "no-undefined": 0,
    "no-unused-vars": 0,
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": ["error"],
    "no-useless-constructor": "off",
    "no-void": 0,
    "react/function-component-definition": 0,
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0, "semi": "error",
    "wrap-iife": [
      2,
      "any"
    ]
  }
}
