{
    "openapi": "3.1.0",
    "info": {
        "title": "SeinopSys",
        "version": "0.0.1",
        "description": "Public API for the SeinopSys personal site."
    },
    "servers": [
        {
            "url": "http://seinopsys.lc/api"
        }
    ],
    "paths": {
        "/availability/{name}": {
            "get": {
                "operationId": "availability.show",
                "tags": [
                    "Availability"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start of the date range in YYYY-MM-DD format. Defaults to the current week's Monday.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of the date range in YYYY-MM-DD format. Defaults to start date plus six days.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Base64url-encoded highlight token. When supplied and valid, matching events are returned under a `highlighted` key.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timezone": {
                                            "type": "string"
                                        },
                                        "range": {
                                            "type": "object",
                                            "properties": {
                                                "start": {
                                                    "type": "string"
                                                },
                                                "end": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "start",
                                                "end"
                                            ]
                                        },
                                        "free": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "start",
                                                    "end"
                                                ]
                                            }
                                        },
                                        "highlighted": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "start",
                                                    "end"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "timezone",
                                        "range",
                                        "free"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Failed to fetch calendar data"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "User not found or no calendar configured"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upload": {
            "post": {
                "operationId": "uploads.upload",
                "tags": [
                    "Uploads"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "upload_key": {
                                        "type": "string",
                                        "description": "Secret upload key from your account settings, or from one of your folders. Uploading with a folder's key automatically places the file in that folder - no separate folder parameter is needed."
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "contentMediaType": "application/octet-stream",
                                        "description": "Image file to upload. GIFs are kept as-is; all other formats are re-encoded as PNG unless the target folder has conversion disabled. Mutually exclusive with file[]."
                                    },
                                    "file[]": {
                                        "type": "array",
                                        "description": "Multiple image files to upload at once, into the same folder. Mutually exclusive with file. When used, the response shape changes to {\"files\": [...]} with one object per uploaded file, in the same order.",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "domain": {
                                        "type": "string",
                                        "description": "Optional secondary domain to serve the image(s) from."
                                    }
                                },
                                "required": [
                                    "upload_key"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "URLs for the uploaded image(s) and preview thumbnail(s). The first shape is returned for a single file uploaded via the file parameter; the second (files) shape is returned when files were uploaded via file[] instead. full_png is null for GIF uploads and for uploads into a folder with conversion disabled (full then keeps the original format/extension). full_jpg is null when the target folder has conversion disabled (no JPEG copy is generated). preview falls back to the same URL as full when the target folder has thumbnails disabled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "full": {
                                                    "type": "string"
                                                },
                                                "full_png": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "full_jpg": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "preview": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "full",
                                                "full_png",
                                                "full_jpg",
                                                "preview"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "files": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "full": {
                                                                "type": "string"
                                                            },
                                                            "full_png": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "full_jpg": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "preview": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "full",
                                                            "full_png",
                                                            "full_jpg",
                                                            "preview"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "files"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing upload key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": ""
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation errors keyed by field name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Uploading the file(s) would exceed the account's storage quota.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}