{
    "openapi": "3.1.0",
    "info": {
        "title": "SeinopSys",
        "version": "0.0.1",
        "description": "Public API for the SeinopSys personal site."
    },
    "servers": [
        {
            "url": "https://seinopsys.dev/api"
        }
    ],
    "paths": {
        "/availability/{name}": {
            "get": {
                "operationId": "availability.show",
                "tags": [
                    "Availability"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start of the date range in YYYY-MM-DD format. Defaults to the current week's Monday.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of the date range in YYYY-MM-DD format. Defaults to start date plus six days.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Base64url-encoded highlight token. When supplied and valid, matching events are returned under a `highlighted` key.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timezone": {
                                            "type": "string"
                                        },
                                        "range": {
                                            "type": "object",
                                            "properties": {
                                                "start": {
                                                    "type": "string"
                                                },
                                                "end": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "start",
                                                "end"
                                            ]
                                        },
                                        "free": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "start",
                                                    "end"
                                                ]
                                            }
                                        },
                                        "highlighted": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "start",
                                                    "end"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "timezone",
                                        "range",
                                        "free"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Failed to fetch calendar data"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "User not found or no calendar configured"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upload": {
            "post": {
                "operationId": "uploads.upload",
                "tags": [
                    "Uploads"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "upload_key": {
                                        "type": "string",
                                        "description": "Secret upload key from your account settings."
                                    },
                                    "file": {
                                        "type": "string",
                                        "description": "Image or WebM video file to upload. GIFs and WebM videos are kept as-is; all other formats are re-encoded as PNG."
                                    },
                                    "domain": {
                                        "type": "string",
                                        "description": "Optional secondary domain to serve the image from."
                                    }
                                },
                                "required": [
                                    "upload_key",
                                    "file"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "URLs for the uploaded file and its preview thumbnail. full_png is null for GIF and WebM uploads. full_jpg and preview fall back to the full file URL for WebM uploads (no thumbnail is generated for video). delete_url is a one-time-secret URL - send it an HTTP DELETE request (no body/auth needed) to permanently remove this file.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "full": {
                                            "type": "string"
                                        },
                                        "full_png": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "full_jpg": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "preview": {
                                            "type": "string"
                                        },
                                        "delete_url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "full",
                                        "full_png",
                                        "full_jpg",
                                        "preview",
                                        "delete_url"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Could not create upload directory"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation errors keyed by field name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing upload key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": ""
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upload/{key}": {
            "post": {
                "operationId": "uploads.uploadByKey",
                "tags": [
                    "Uploads"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Secret upload key from your account settings, or from one of your folders. Uploading to a folder's key automatically places the file in that folder - no other parameters are needed, just POST the file to this URL (similar to an AWS pre-signed URL).",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "Image or WebM video file to upload. GIFs and WebM videos are kept as-is; all other formats are re-encoded as PNG unless the target folder has conversion disabled."
                                    }
                                },
                                "required": [
                                    "file"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "URLs for the uploaded file and its preview thumbnail. full_png is null for GIF and WebM uploads and for uploads into a folder with conversion disabled (full then keeps the original format/extension). full_jpg is null when the target folder has conversion disabled or the file is a WebM video (no JPEG copy is generated). preview falls back to the full file URL when the target folder has thumbnails disabled or the file is a WebM video (no thumbnail is generated for video). delete_url is a one-time-secret URL - send it an HTTP DELETE request (no body/auth needed) to permanently remove this file.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "full": {
                                            "type": "string"
                                        },
                                        "full_png": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "full_jpg": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "preview": {
                                            "type": "string"
                                        },
                                        "delete_url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "full",
                                        "full_png",
                                        "full_jpg",
                                        "preview",
                                        "delete_url"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Uploading the file would exceed the account's storage quota.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Could not create upload directory"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation errors keyed by field name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or unrecognized key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": ""
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upload/{deleteKey}": {
            "delete": {
                "operationId": "uploads.delete",
                "tags": [
                    "Uploads"
                ],
                "parameters": [
                    {
                        "name": "deleteKey",
                        "in": "path",
                        "required": true,
                        "description": "The delete_url secret returned when the file was uploaded.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The file was permanently deleted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "File deleted."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No file found for this delete key (already deleted, or the key is invalid).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}