{
    "openapi": "3.1.0",
    "info": {
        "title": "SeinopSys",
        "version": "0.0.1",
        "description": "Public API for the SeinopSys personal site."
    },
    "servers": [
        {
            "url": "http://seinopsys.lc/api"
        }
    ],
    "paths": {
        "/availability/{name}": {
            "get": {
                "operationId": "availability.show",
                "tags": [
                    "Availability"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start of the date range in YYYY-MM-DD format. Defaults to the current week's Monday.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of the date range in YYYY-MM-DD format. Defaults to start date plus six days.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Base64url-encoded highlight token. When supplied and valid, matching events are returned under a `highlighted` key.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timezone": {
                                            "type": "string"
                                        },
                                        "range": {
                                            "type": "object",
                                            "properties": {
                                                "start": {
                                                    "type": "string"
                                                },
                                                "end": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "start",
                                                "end"
                                            ]
                                        },
                                        "free": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "start",
                                                    "end"
                                                ]
                                            }
                                        },
                                        "highlighted": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "start",
                                                    "end"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "timezone",
                                        "range",
                                        "free"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Failed to fetch calendar data"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "User not found or no calendar configured"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upload": {
            "post": {
                "operationId": "uploads.upload",
                "tags": [
                    "Uploads"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "upload_key": {
                                        "type": "string",
                                        "description": "Base64-encoded upload key assigned to your account."
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "contentMediaType": "application/octet-stream",
                                        "description": "Image file to upload. GIFs are kept as-is; all other formats are re-encoded as PNG."
                                    },
                                    "domain": {
                                        "type": "string",
                                        "description": "Optional secondary domain to serve the image from."
                                    }
                                },
                                "required": [
                                    "upload_key",
                                    "file"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "URLs for the uploaded image and its preview thumbnail.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "full": {
                                            "type": "string"
                                        },
                                        "preview": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "full",
                                        "preview"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "500 mib in bytes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Uploading this image would exceed the 500 MiB maximum uploadable amount. Delete some images and try again."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Could not create upload directory"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation errors keyed by field name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing upload key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": ""
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}