#gross-salary::-webkit-inner-spin-button {
    display: none;
}

#net-output-wrap {
    margin-top: 15px;
}

#net-output {
    margin-bottom: 0;

    tfoot {
        font-weight: bold;

        tr:first-child > * {
            border-top-width: 2px;
        }
    }

    tr > td:not(:first-child), tr > th:not(:first-child) {
        text-align: center;
    }
}
